/**
 * @author ${Bhavesh Lalwani}
 */

.TravellerDetails {
    margin-top: 24px;
}

.container-box {
    // border: 1px solid;
    // margin: 30px 0;
    padding: 24px !important;
    border-radius: 8px;
}

.m-tb-8 {
    margin: 16px 0;
}

.css-viou3o-MuiAutocomplete-root, .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    width: 100% !important;
}

.add-to-cart Button{
    margin-top: 30px;
    padding: 12px 37px;
    border-radius: 25px;
}