body{
    background-color: #ffffff;
}

.profileContainer{

    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,25%);
    top: 45%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    border-spacing: 00.5px;
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
