.history-container {
    padding: 2rem !important;
}

.wallet-history-bg {
    background-color: #edededd1;
    padding: 16px;
}

.history-title {
    font-size: 1.75em;
    font-weight: 600;
    display:flex;
    margin-bottom: 0.5em;
    align-items:center;
    justify-content: left;
    color: white;
}

.history-header {
    font-size: 1.35em;
    font-weight: 600;
}

// .icon {
//     border: 2px solid;
// }

.div-v {
    display:flex;
    align-items:center;
    justify-content: center;
    font-size: 1.25em;
    font-weight: 500;
}

.div-10 {
    display:flex;
    align-items:center;
    justify-content: center;
}

.div-v1 {
    display:flex;
    align-items:center;
    justify-content: center;
    margin-bottom: 0.35em;;
    font-size: 1.25em;
    font-weight: 500;
}

.div-v2 {
    display:flex;
    align-items:center;
    justify-content: center;
    font-size: 1em;
}

.transaction-successful {
    color: green;
}

.transaction-unsuccessful {
    color: red;
}