.div-v5 {
    display:flex;
    align-items:center;
    justify-content: center;
}

.div-v7 {
    display:flex;
    align-items:center;
    justify-content: center;
}

.cart-space {
    height: 1em;
}

.c1 {
    padding-left: 20px;
}

.div-v6 {
    font-size: 1.25em;
    font-weight: 500;
}

.cart-list-bg {
    background-color: #edededd1;
    padding: 16px;
}

.cart-list-container {
    background-image: linear-gradient(250deg, #caf0f8 0%, #076585 84% );
    padding: 2rem !important;
}

.cart-item-title {
    font-size: 1.35em;
    font-weight: 600;
}

.remove-cart-item {
    size: 10px;
    color: red;
}