/**
 * @author ${Bhavesh Lalwani}
 */

.res-p {
    padding: 3rem !important;
}

.fare-card {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .res-p {
        padding: 1rem !important;
    }
}

.flightBooking {
    padding-top: 24px;
}