body{
    background-color: #ffffff;
}

.reg-text{
    text-align: center;
   
}
.loginform{
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,5%);
    top: 55%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    border-spacing: 00.5px;
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

.signupform{
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,5%);
    top: 10%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    border-spacing: 00.5px;
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

.resetform{
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,5%);
    top: 55%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    border-spacing: 00.5px;
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

.logoutform{
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,5%);
    top: 55%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    border-spacing: 00.5px;
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

.registrationbutton{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
